@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	float: left;
	width: 20%;
	padding-right: 10%;
	padding-left: 5%;
}

footer {
	position: fixed;
	bottom: 15px;
	left: 15px;
}

header {
	margin-top: -20px;
	margin-left: 20px;
}

img {
	max-width: 75%;
}

main {
	float: left;
	width: 50%;
}

nav {
	float: left;
	width: 13%;
	padding-left: 2%;
}

#copyright {
	font-size: 80%;
}

#main-container {
	font-style: "courier new", monospace;
}